*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse specific files #
/.classpath
/.project
/bin/

# JetBrains IDEA specific files#
/.idea
/userMan.iml
/out/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

res/global.properties
