.root { -fx-background-color: transparent; }	

#umFrontend{
   -fx-background-color: #79233E, derive(#79233E, 25%);
   -fx-background-insets: -20, -10;
   -fx-background-repeat: stretch;   
   -fx-background-position: center center;
}

.menu {
    -fx-background-color: #79233E, derive(#79233E, 25%);
    -fx-base: #79233E;
    -fx-font-size: 12pt;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: .9em 0.416667em .9em 0.416667em;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-base: #79233E;
    -fx-font-size: 12pt;
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #79233E, derive(#79233E, 25%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
   -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  /* 8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.button {
    -fx-text-fill: white;
    -fx-background-color: #79233E, derive(#79233E, 25%);
}